*.xml_hidden
*.gif
*.jar
*.xml
*.txt
build/classes/lib/visualvm/profiler/lib/deployed/jdk16/windows-amd64/profilerinterface.dll
*.dll
*.properties
*.png
*.bat
build/classes/db/bin/setNetworkClientCP
*.html
*.htm
build/classes/lib/missioncontrol/plugins/com.jrockit.mc.console.ui.notification_5.5.0.165303/META-INF/MANIFEST.MF
*.MF
build/classes/lib/missioncontrol/plugins/org.eclipse.ui.themes_1.0.1.v20140819-1717/css/dark/e4-dark_basestyle.css
*.css
*.exsd
*.jpg
build/classes/lib/missioncontrol/features/org.eclipse.ecf.core.ssl.feature_1.0.0.v20140827-1444/META-INF/eclipse.inf
*.gz
*.mf
*.exe
*.ttf
build/classes/jre/lib/cmm/GRAY.pf
*.pf
build/classes/.netbeans_automatic_build
*.netbeans_update_resources
build/classes/db/bin/ij
build/classes/db/bin/sysinfo
*.war
build/classes/include/classfile_constants.h
*.h
build/classes/javafx-src.zip
*.cpl
*.RSA
build/classes/lib/missioncontrol/features/org.eclipse.ecf.core.feature_1.1.0.v20140827-1444/META-INF/ECLIPSE_.SF
*.SF
build/classes/lib/missioncontrol/features/org.eclipse.ecf.core.feature_1.1.0.v20140827-1444/META-INF/eclipse.inf
*.inf
*.policy
*.ini
*.cfg
build/classes/jre/lib/deploy/ffjcext.zip
*.data
build/classes/jre/lib/fontconfig.properties.src
*.jfc
*.idl
build/classes/lib/missioncontrol/dropins/README.TXT
*.info
*.conf
build/classes/lib/jawt.lib
*.lib
*.dat
*.jsa
build/classes/jre/lib/management/jmxremote.access